:root   {
    --primaryColor: #1D99D9;
    --secondaryColor: #14546C;
    --tertiaryColor: #CBCDCE;
    --fourthColor: #737373;
    --additionalColor: #06141B;
}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    color: var(--secondaryColor);
    font-family:Helvetica, Arial, sans-serif;
}

a    {
    text-decoration: none;
    color: var(--primaryColor);
}
/*Header Styling*/
header  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondaryColor);
    padding: 10px 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1   {
    flex: 1 1 55%;
    font-weight: bold;
    font-size: 3.0vw;
    color: var(--primaryColor);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
/*Nav Bar Styling*/
header nav  {
    flex: 1 1 40%;
    margin: 10px 0;
    
    
}
header nav ul   {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}
header nav ul li a  {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }
 header nav ul li a:hover   {
    background-color: var(--primaryColor);
    color: var(--tertiaryColor);
    border-radius: 15px;
    text-shadow: none;
 }
 /*Hero / Jumbotron Styling*/
 
 .hero  {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: right;
    background-image: url("../images/heroBg.png");
    background-position: cover;
    background-repeat: no-repeat;
    height: 350px;
    border: 2px solid var(--tertiaryColor);
 }

 .heroQuote {
    width: 35%;
    text-align: right;
    font-weight: lighter;
    font-style: italic;
    font-size: 16px;
    font-family: Georgia, Helvetica, Arial, sans-serif;
    color: var(--primaryColor);
    text-shadow: 0 0 1px rgba(0, 0, 0, 05);
    padding: 40px 25px;
 }
 .heroQuote h2 span  {
    width: 35%;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
    font-family: Georgia;
    color: var(--secondaryColor);
 }
 /*End of Hero Styling*/
/*Styling of the Main Content /About me Section */
 .mainContainer, .mainContainer2 {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
 }
.sectionHeadings  {
    flex: 1 1 5%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: var(--primaryColor);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    
}
.content    {
    flex: 1 1 70%;
    justify-content: center;
    padding: 10px;
    margin: 5px 15px;   
    border-left: 3px solid var(--tertiaryColor);
    
}
.content p  {
    color: var(--fourthColor);
    font-size: 16px;
    font-family: Georgia, Helvetica, Arial, sans-serif;
    text-indent: 5px;
    text-align: justify;
}
.content p span {
    color: var(--primaryColor);
    font-weight: lighter;
    font-style: italic;
    font-family: Georgia, Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.workHeading {
    text-align: top;
}
/*End of About Me Styling*/
/*My Work Styling*/

.mainImage img  {
    height: 400px;
    width: 700px;
    object-fit: cover;
    border: 2px solid var(--tertiaryColor);
    padding: 1px;
    box-shadow: 4px 5px var(--tertiaryColor);
}
.mainImage img:hover  {
    background-color: var(--primaryColor);
    opacity: 0.75;
}
.secondaryImage img  {
    height: 200px;
    width: 345px;
    object-fit: contain;
    border: 2px solid var(--tertiaryColor);
    padding: 1px;
    margin: 0 5px;
    box-shadow: 4px 5px var(--tertiaryColor);
}
.secondaryImage img:hover  {
    background-color: var(--primaryColor);
    opacity: 0.75;
}
.imageText  {
    position: relative;
    bottom: 400px;
    left: 4px;
    text-align: center;
}
.imageText2  {
    position: relative;
    bottom: 61px;
    left: 219px;
    text-align: center;
}
.imageText h4, .imageText2 h4   {
    width: 130px;
    padding: 10px 5px;
    background-color: var(--additionalColor);
    color: var(--tertiaryColor);
    font-weight: bold;
    opacity: 0.75;
}
.imageText h4:hover, .imageText2 h4:hover {
    background-color: var(--primaryColor);
    color: #fff;
}
.imageText h4 span, .imageText2 span  {
    padding: 10px 5px;
    color: var(--tertiaryColor);
    font-size: 10px;
    font-style: italic;
    
}
/* Additional Containers*/
.grid   {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactInfo   {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*Contact info styling*/
.contactInfo h5 {
    display: flex;
    width: 100%;
    font-size: 18px;
    color: var(--primaryColor);
    padding: 0px 10px;
}
/*Footer styling*/
footer  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--secondaryColor);
    padding: 10px 10px;
    border: 2px solid var(--tertiaryColor);
}
footer h6   {
    font-weight: bold;
    font-size: 2.0vw;
    color: var(--primaryColor);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
} 
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1079px) {
    .hero  {
        justify-content: center;
        background-image: url("../images/headerBg2.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 290px;
        border: 2px solid var(--tertiaryColor);
     }
     .heroQuote {
         display: none;
     }
    }
    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
    @media screen and (max-width: 980px) {
        header  {
            display: flex;
            flex-direction: column;
        }
        header h1 {
            width: 100%;
            text-align: center;
        }
        header nav ul   {
             width: 60;
            justify-content: center;
        }
        header nav ul li a {
            font-size: 20px;
        }
        .mainContainer  {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0 15px;
        }
        .mainContainer2  {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .content    {
            border: none;
        }
    }
    /* MEDIA QUERY FOR TABLETS AND SMALLER */
    @media screen and (max-width: 768px)    {
        .hero  {
            justify-content: center;
            background-image: url("../images/headerBg4.png");
            background-position: center;
            background-repeat: no-repeat;
            height: 290px;
            border: 2px solid var(--tertiaryColor);
         }
         .heroQuote {
             display: none;
         }
        .mainImage img  {
            height: 200px;
            width: 345px;
            object-fit: cover;
            border: 2px solid var(--tertiaryColor);
            padding: 1px;
            box-shadow: 4px 5px var(--tertiaryColor);
        }
        .imageText  {
            position: relative;
            bottom: 63px;
            left: 4px;
            text-align: center;
        }
        .grid   {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px)  {
    .hero  {
        justify-content: center;
        background-image: url("../images/headerBg5.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 290px;
        border: 2px solid var(--tertiaryColor);
     }
     .heroQuote {
         display: none;
     }
    .contactInfo   {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
  }